#menu-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    background: #ffffff;
    grid-column: 2/-1;
}

#back-container{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: none;
}
#back-btn{
    
  width: 25px;
  height: 25px;
  object-fit: contain;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #44943e;
  padding: 2.25rem;
}
#menu-path{
  
}

#fee-icons{
    grid-column: -1;
    padding: 2.25rem;
}