#fee-tab{
    grid-column: 1/-1;
    border-bottom: solid 1px rbga(0,0,0,0.1);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px;
    border-bottom: solid 1px rgba(0,0,0,0.1 );
}

#tab-text{
    grid-column: 1/8;
    margin-top: 2rem;
    padding-left: 1rem;
  width: 214px;
  height: 39px;
  font-size: 35px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

#term-container{
    grid-column: 11/-1;
    display: grid;
    grid-template-columns: 115px 70px;
    grid-template-rows: 25px 370px;
    grid-row: 21px;
    grid-column-gap: 30px;
    margin-top: 2.5rem;
}

#financial-term-text{
    
    grid-column: 1;
    height: 21px;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

#settings-icon{
    display: grid;
    grid-template-rows: 25px 371px;
 grid-column: 2;
 margin-bottom:2rem;
 grid-row-gap: 15px;
 width: 25px;
 height: 25px;
 object-fit: contain;
 font-size: 25px;
 cursor: pointer;

}

#settings-img{
    grid-row: 1;
}

#drop-modal{
    z-index: 1;
    grid-column: 1;
    grid-row: 2;
    position: relative;
    right: 15.5rem;
    width: 265px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 145px 228px;
}
#view-title{
    margin-top: 15px;
    margin-left: 18.5px;
    width: 40px;
    height: 21px;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.drop-down{
    display: flex;
    margin: auto;
  width: 100%;
  margin-right: 50%;
  height: 42px;
  opacity: 0.6;
  margin-left: 18.5px;
  text-align: left;
}
#view-container{
    z-index: 1;
    border-bottom: solid 1px rgba(0,0,0,0.1 );
}
#create-term{
    display:grid;
    
    grid-template-rows: 75px 65px 65px;}

#create-text{
    
  width: 92px;
  height: 21px;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
#create-text{
    
    margin-top: 15px;
    margin-left: 18.5px;
  width: 92px;
  height: 21px;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
#drop-down-2{
    display: flex;
    margin: auto;
  width: 224px;
  height: 42px;
  opacity: 0.6;
  
}
#drop-down-3{
    display: flex;
    margin: auto;
  width: 200px;
  height: 42px;
  opacity: 0.6;
  
}

